.container {
  width: 70vw; 
  margin: auto;
}

.header {
  background: black;
  color: white;
  font-weight: bolder;
  padding: 1em 0;
}

.notes {
  border: lightgrey solid 1px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  width: 50vw;
  margin: auto;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.issueslistitem {
  padding: 1em 0.5em;
  border-bottom: lightgrey solid 1px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.bodylink {
  color: black;
  text-decoration: none;
}

.item {
  width: 70%;
}

.label {
  display: inline-block;
  font-size: 12px;
  padding: 2px;
  margin: 0 2px;
  border-radius: 3px;
  font-weight: bold;
}

.showissuediv {
  display: flex;
  flex-direction: row;
  border-top: black solid 1px;
  background: lightgoldenrodyellow;
  padding-top: 1em;
}

.showissuecontent {
  width: 80%;
}
.showissuesingle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.showissueavatar img {
  width: 50px;
}

.showissuebody {
  border: black solid 1px;
  border-radius: 3px;
  padding: 5px;
}

.markdown {
  font-size: 14px;
}

.pagebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em 0;
}

.pagebar button {
  width: 2em;
  height: 2em;
  border-radius: 3px;
  font-size: 1em;
}

.currentpage, .selectbtn {
  color: white;
  background: grey;
}