.container {
  width: 70vw; 
  margin: auto;
}

.header {
  background: black;
  color: white;
  font-weight: bolder;
  padding: 1em 0;
}

.notes {
  border: lightgrey solid 1px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  width: 50vw;
  margin: auto;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.issueslistitem {
  padding: 1em 0.5em;
  border-bottom: lightgrey solid 1px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.bodylink {
  color: black;
  text-decoration: none;
}

.item {
  width: 70%;
}

.showissuediv {
  display: flex;
  flex-direction: row;
  border: black solid 1px;
  background: lightgoldenrodyellow;
}

.showissuecontent {
  display: flex;
  flex-direction: row;
  border: black solid 1px;
  background: lightgrey;
  width: 80%;
}

.showissueavatar img {
  width: 50px;
}

.showissuebody {
  border: lightgrey solid 1px;
  border-radius: 3px;
  padding: 5px;
}

.markdown {
  font-size: 14px;
  width: 50%;
}